/*--------------------------------------------------------------
# Global Styles & CSS Variables
--------------------------------------------------------------*/

:root {
	--main-darkgray: #09090F;
	--main-blue: #4882B4;
}

html {
	font-size: 100%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }

.container {
	width: 100%;
	margin: 0 auto;
}

/*--------------------------------------------------------------
# Eric Meyer CSS Reset
--------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/

/* Nav Bar */

.navbar {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	grid-gap: 1rem;
	font-family: 'Ubuntu', sans-serif;
	border-bottom: solid 3px var(--main-blue);
	padding: 1rem;
}

.nav-list {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-gap: 1rem;
	justify-items: center;
}

.logo {
	height: auto;
	width: 100%;
	max-width: 3.5rem;
}

.nav-link a {
	color: #FFF;
	text-decoration: none;
	/* https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40 */
	background: 
      linear-gradient(var(--main-blue) 0 0) 0 100% /var(--d, 0) 3px no-repeat;
  	transition:0.5s;
	padding: 0.25rem;
}

.nav-link a:hover {
	/* https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40 */
	--d: 100%;
}

/* Main */

body {
	background-color: var(--main-darkgray);
}

/* Home */

.home {
	display: grid;
	place-items: center center;
	min-height: 100vh;
}

.home-content {
	display: grid;
	justify-items: center;
	grid-gap: 0.5rem;
	color: var(--main-blue);
}

.name {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 2.5rem;
}

.tagline {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.25rem;
}

/* Projects */

.projects-section {
	background-color: var(--main-blue);
	padding: 0 0 2rem;
}

.projects-header {
	color: var(--main-darkgray);
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
	text-align: center;
	padding: 2.5rem;
}

.projects-grid {
	display: grid;
	grid-template-columns: minmax(18rem, 1fr);
	justify-content: center;
	align-items: center;
	grid-gap: 2rem;
	padding: 0 2rem;
}

.project-tile {
	background-color: var(--main-darkgray);
	border: solid 3px var(--main-darkgray);
}

.project-tile:hover {
	border: solid 3px #FFF;
	transition: ease-in 0.5s;
}

.project-image {
	height: calc(100% - 6.8rem);
	width: 100%;
	object-fit: cover;
}

.project-title {
	color: #FFF;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	text-decoration: none;
	padding: 1rem;
}


/* Contact */

.contact {
	display: grid;
	place-items: center center;
	min-height: 100vh;
	color: #FFF;
	text-align: center;
}

.contact-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2.5rem;
}

.contact-header {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}

.social-icons {
	font-size: 1.5rem;
}

.social-icons a {
	color: #FFF;
	padding: 0.5rem;
	text-decoration: none;
}

.social-icons a:hover {
	color: var(--main-blue);
	transition: 0.5s;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/* Tablet */

@media (min-width: 43em) {

	/* Nav Bar */

	.navbar{
		grid-template-columns: repeat(2, 1fr);
	}

	.logo-link {
		justify-self: start;
	}

	.nav-list {
		justify-self: end;
		align-self: center;
	}

	/* Home */

	.name {
		font-size: 3.75rem;
	}

	.tagline {
		font-size: 1.5rem;
	}

	/* Projects */

	.projects-header {
		font-size: 3rem;
	}

	.projects-grid {
		grid-template-columns: repeat(2, minmax(18rem, 1fr));
	}

	.project-title {
		font-size: 1.25rem;
	}

}

/* Desktop */

@media (min-width: 65em) {

	/* Home */

	.name {
		font-size: 5rem;
	}

	.tagline {
		font-size: 1.75rem;
	}

	/* Projects */

	.projects-header {
		font-size: 4.5rem;
	}

	.projects-grid {
		padding: 5rem;
		grid-gap: 5rem;
	}

	.project-title {
		font-size: 1.5rem;
	}

	/* Contact */
	
	.contact-header {
		font-size: 4.5rem;
	}

	.social-icons {
		font-size: 2rem;
	}

}